.container{
	max-width: 960px;
	background-color: #374353;
	border: 5px solid #FFFFFF;
	margin: 100px auto;
	max-height: auto;
	padding: 25px 25px 25px 25px;
}
body{
	background-image: url("../images/planets.png");
}
h1{
	font-size: 40px;
	text-align: center;
	color: #FFFFFF;
}
h2{
	font-size: 35px;
	text-align: center;
	margin: 10px;
	color: #FFFFFF;
}
h3{
	font-size: 30px;
	text-align: center;
	line-height: 35px;
	color: #FFFFFF;
	width: 50%;
	margin-left: 25%;
}
#theAnswers{
	width: 
}
#start{
	text-align: center;
	margin:60px auto;
}
#startButton{
	width: 40%;
	background-color: #374353;
    border: 3px solid white;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
#startButton:hover{
	background-color: white;
	color: #374353;
}
#display{
	margin: 50px;
}
#answer1:hover,#answer2:hover,#answer3:hover,#answer4:hover{
	border: 3px solid white;
}