.container{
	max-width: 800px;
	background-color: #030B16;
	border: 5px solid #FFFFFF;
	margin: 150px auto;
	max-height: auto;
	padding: 25px 25px 25px 25px;
}
body{
	background-image: url("../images/space.jpg");
}
h1{
	font-family: 'Monofett', cursive;
	font-size: 90px;
	text-align: center;
	color: #FFFFFF;

}
h2{
	font-family: 'Russo One', sans-serif;
	font-size: 35px;
	text-align: center;
	margin: 10px;
	color: #FFFFFF;
}
#game{
	font-family: 'Shrikhand', cursive;
	font-size: 40px;
	text-align: center;
	margin: 10px;
	color: #FEDE4C;
}
h3{
	font-family: 'Titillium Web', sans-serif;
	font-size: 30px;
	text-align: center;
	line-height: 35px;
	color: #FFFFFF;
	width: 50%;
	margin-left: 25%;
}
#theAnswers{
	width: 
}
#start{
	text-align: center;
	margin:60px auto;
}
#startButton{
	width: 40%;
	background-color: #5EBD18;
    border: 3px solid white;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
}
#startButton:hover{
	background-color: #6096D0;
	color: white;
}
#display{
	margin: 50px;
}
#answer1:hover,#answer2:hover,#answer3:hover,#answer0:hover{
	border: 3px solid white;
	background-color: #09A870;
}
#reset{
	width: 40%;
	background-color: #C24547;
    border: 3px solid white;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
#reset:hover{
	background-color: #AC311E;
	color: white;
}